In [25]:
import pandas as pd

## Import data

In [26]:
df_datum_tenaamstelling = pd.read_csv('Open_Data_RDW__Gekentekende_voertuigen.csv', usecols=['Kenteken', 'Datum tenaamstelling'])
df_brandstof = pd.read_csv('Open_Data_RDW__Gekentekende_voertuigen_brandstof.csv', usecols=['Kenteken', 'Brandstof omschrijving'])

In [27]:
df = df_datum_tenaamstelling.merge(df_brandstof, on='Kenteken', how='inner')

In [28]:
df.head()

  Kenteken  Datum tenaamstelling Brandstof omschrijving
0   TZ986P            20190412.0                Benzine
1   45MJKT            20180405.0                Benzine
2   GK449Z            20201204.0                Benzine
3   PN555B            20170807.0                 Diesel
4   RF176D            20210122.0                 Diesel

## Drop NaN values

In [29]:
df.isna().sum()

Kenteken                  0
Datum tenaamstelling      9
Brandstof omschrijving    0
dtype: int64

In [30]:
df.dropna(inplace=True)

In [31]:
df.isna().sum()

Kenteken                  0
Datum tenaamstelling      0
Brandstof omschrijving    0
dtype: int64

## Check duplicates

In [32]:
df[df.duplicated(keep=False, subset=['Kenteken', 'Brandstof omschrijving'])].sort_values('Kenteken')

Empty DataFrame
Columns: [Kenteken, Datum tenaamstelling, Brandstof omschrijving]
Index: []

In [33]:
df['Datum tenaamstelling'] = pd.to_datetime(df['Datum tenaamstelling'], format='%Y%m%d')

df

         Kenteken Datum tenaamstelling Brandstof omschrijving
0          TZ986P           2019-04-12                Benzine
1          45MJKT           2018-04-05                Benzine
2          GK449Z           2020-12-04                Benzine
3          PN555B           2017-08-07                 Diesel
4          RF176D           2021-01-22                 Diesel
...           ...                  ...                    ...
13665785   20LKD5           2019-10-17                Benzine
13665786   74NNF1           2010-10-26                Benzine
13665787   J007FV           2020-08-24                Benzine
13665788   L923ZF           2021-08-27                Benzine
13665789   L923ZF           2021-08-27          Elektriciteit

[13665781 rows x 3 columns]

In [69]:
test = df.groupby(["Brandstof omschrijving", pd.Grouper(key='Datum tenaamstelling', freq="M")]).size().reset_index(name='Aantal')

In [70]:
test

     Brandstof omschrijving Datum tenaamstelling  Aantal
0                   Alcohol           2008-01-31       7
1                   Alcohol           2008-03-31       2
2                   Alcohol           2008-06-30       2
3                   Alcohol           2008-07-31       4
4                   Alcohol           2008-08-31       3
...                     ...                  ...     ...
2570              Waterstof           2021-06-30      20
2571              Waterstof           2021-07-31      27
2572              Waterstof           2021-08-31      13
2573              Waterstof           2021-09-30      25
2574              Waterstof           2021-10-31       5

[2575 rows x 3 columns]

In [72]:
test['cumsum'] = test.groupby(["Brandstof omschrijving"])['Aantal'].cumsum()

In [76]:
test.drop(columns='Aantal', inplace=True)

In [78]:
test.to_csv('cumsum.csv', index=False)